version: "3.8"

# ===============================
# Docker Compose Commands
# ===============================
# Start containers:
#   docker compose up --build -d
#
# Stop containers:
#   docker compose down
#
# Optional manual runs:
#
#   Backend:
#     docker run --rm -d -p 3000:3000 \
#       --network app_network --name backend \
#       miguezpz/node_server:latest
#
#   Frontend:
#     docker run --rm -d -p 8080:80 \
#       --network app_network --name frontend \
#       miguezpz/website:latest
#
# Dev volume example (hot reload for frontend):
#   docker run --rm -d -p 8080:80 \
#     --network app_network --name frontend \
#     -v "$(pwd)/nginxFrontEnd/website:/usr/share/nginx/html" \
#     miguezpz/website:latest
# ===============================



services:

  backend:
    container_name: backend
    build:
      context: ./nodeBackEnd
      dockerfile: Dockerfile
    image: node_backend:latest
    ports:
      - "3000:3000"
    networks:
      - app_network

  frontend:
    container_name: frontend
    build:
      context: ./nginxFrontEnd
      dockerfile: Dockerfile
    image: nginx_frontend:latest
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app_network
    volumes:
      - ./nginxFrontEnd/website:/usr/share/nginx/html

networks:
  app_network:
    driver: bridge
